# Dependencies
/client/dist
/server/dist
node_modules/
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# Temp files
*.swp
*.swo
.temp/
.cache/

# Database
*.sqlite
